body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.form-control,
.form-select {
  border-radius: 12px;
  padding: 12px;
}

.btn {
  border-radius: 12px;
}

.card {
  border-radius: 24px;
}